<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>
<form action="/studentHome" method="post">
    Name: <input type="text" name="name"><br>
    GPA: <input type="text" name="gpa"><br>
    Major:
        <select name="major">
            <option value="web">Web DEV</option>
            <option value="design">Design</option>
            <option value="Java">Java DEV</option>
            <option value="graphics">Graphics</option>
        </select>
    <br>
    <input type="submit" name="Register">
    <input type="button" value="List students">
</form>
</body>
</html>